<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="onClosePress(f)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Add Task</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" ngModel name="title" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Date</ion-label>
            <ion-datetime display-format="MMM DD YYYY" picker-format="DD MMM YY" [min]="minDate.toISOString()" max="2100" required date ngModel name="Date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Time</ion-label>
            <ion-datetime displayFormat="h:mm a" ngModel name="timeStart"></ion-datetime>

        </ion-item>

        <ion-item>
            <ion-label position="floating">Location</ion-label>
            <ion-input type="text" ngModel name="location" required></ion-input>
        </ion-item>
        <ion-card>
            <ion-card-content>
                <h3 class="ion-margin-top">Group:</h3>
                <ion-item *ngFor="let event of eventList">
                    <ion-label>{{ event.eventName }}</ion-label>
                    <ion-checkbox color="dark" name="checkboxes" (click)="selectMember(event)" [(ngModel)]="event.ischecked"></ion-checkbox>
                </ion-item>
            </ion-card-content>
        </ion-card>

        <ion-item>
            <ion-label position="floating"> Description</ion-label>
            <ion-textarea rows="3" ngModel name="details"></ion-textarea>
        </ion-item>
        <!-- <ion-fab type = "submit" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button

          [disabled]="!f.valid">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
      </ion-fab>     -->
        <ion-button class="ion-float-end" shape="round" [disabled]="!f.valid" type="submit" margin>
            <ion-icon slot="start" name="checkmark"></ion-icon>Save</ion-button>
    </form>
</ion-content>
